.our_works {
  .works_row {
    row-gap: 30px;
    @media screen and (max-width:576px) {
        row-gap: 10px;   
    }
    .work_iem {
      img {
        max-width: 100%;
        @media screen and (max-width:576px) {
            height: 210px;
            width: 100%;
            object-fit: cover;
        }
      }
    }
  }
  .our_work_btn {
    color: var(--2, #1c1d1e);
    text-align: center;
    font-family: PF DinDisplay Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding: 21px 137px;
    border-radius: 3px;
    border: 1px solid #A8A9AA;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    @media screen and (max-width:576px) {
        margin-top: 20px;
        padding: 15px 78px;
        font-size: 11px;
        line-height: 100%;   
    }
  }
}
